extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			p: a(href='/') &larr; zur&uuml;ck
			hr
			if !data.event
				h2 Ung&uuml;ltiger Event.
			else
				header
					h1= data.event.name
					h2 Was?
					p
						strong Format: #{data.event.format}
					p!= data.event.description
					h2 Wann?
					p= data.event._.date.format('DD.MM.YYYY - HH:mm')
					h2 Wo?
					if data.event.location.name
						p= data.event.location.name
					if data.event.location.street1
						p= data.event.location.street1
					if data.event.location.street2
						p= data.event.location.street2
					- var formattedTown = []
					if data.event.location.postcode
						- formattedTown.push(data.event.location.postcode)
					if data.event.location.suburb
						- formattedTown.push(data.event.location.suburb)
					if data.event.location.state
						- formattedTown.push(data.event.location.state)
					p= formattedTown.join(' ')
